* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
 /* header */
 nav {
    text-align: center;
}
.header-img {
    height: 50%;
    width: 50%;
}
.hover{
    opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
   
}
@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
/* -------------------------------------------- */
@media screen and (max-width:450px)  {
    .container1 {
        width: 100%;
        height: 100%;  
    }
   
    /* quick links */
    .ql-font{
        font-size: 12px;
    }
    .div-design {
        height: 30px;
        background-color: #262262;
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
        color: white;
        padding: 4px;
        margin: 2px;
    }
    .quick-links {
        background-color: antiquewhite;
    }
    p {
        padding-bottom: 5px;
        margin: 0;
        color: #262262;
    }
    .links {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin: 2px;
        border: none;
        overflow: hidden;

    }
    
    .div1 {
        width: 33%;
        /* height: 50%; */
        text-align: center;
        background-color: #262262;
        color: white;
        border: 0;
        padding: 10px;
        opacity: 1;
        margin: 0 auto;
    }
    .div1>p{
        color: white;
    }
    .div1:hover{
        opacity: 0.5;
    }
    .div2 {
        width: 33%;
        /* height: 50%; */
        text-align: center;
        background-color: white;
        color: #262262;
        border: 0;
        padding: 10px;
        opacity: 1;
        margin: 0 auto;
    }
    .div2:hover{
        opacity: 0.5;
    }
    /* carousel */
    .carousel {
        background-color: aquamarine;
        margin-bottom: 5px;
        
    }
  .font-c{
      color: white;
  }
    .slide {
        display: none;
    }
    .plant-caption {
        position: absolute;
        justify-content: center;
        align-items: center;
        width: 100%;
        top: 70%;
        text-align: center;
        color: white;
        background-color: #5b5b5f;
        opacity: 0.4;
    }
    .carousel-p {
        height: 50%;
    }
    .plant-carousel {
        position: relative;
        display: flex;
        flex-basis: row wrap;
        align-items: center;
        width: 100%;
        height: 50%;
        min-height: 20em;
        overflow: hidden;
    }
    .plant-1,
    .plant-2,
    .plant-3 {
        width: 100%;
        height: 30em;
        background-attachment: fixed;
        background-position: center center;
        object-fit: cover;
    }
    .prev,
    .next {
        position: absolute;
        display: flex;
        flex-direction: row;
        top: 50%;
        margin-top: -20px;
        width: 20px;
        height: 20px;
    }
    .next {
        right: 20px;
        border-bottom: 5px solid #5b5b5f;
        border-right: 5px solid #5b5b5f;
        transform: rotate(-45deg);
        transition: right 0.5s;
    }
    .prev {
        left: 20px;
        border-bottom: 5px solid #5b5b5f;
        border-left: 5px solid #5b5b5f;
        transform: rotate(45deg);
        transition: left 0.5s;
    }
    .next:hover {
        right: 1em;
    }
    .prev:hover {
        left: 1em;
    }
    /* .dot {
        width: 12px;
        height: 12px;
        background-color: blueviolet;
        border-radius: 50%;
        margin: 0 4px;
        opacity: 0.5;
        cursor: pointer;
        transition: opacity 0.3s;
    }
    .dot-container {
        display: flex;
        flex-basis: row wrap;
        position: absolute;
        justify-content: center;
        width: 100%;
        bottom: 1.5em;
    } */
    .active,
    .dot:hover {
        opacity: 1;
    }
    .fade {
        animation-name: fade;
        animation-duration: 1.5s;
    }
    @keyframes fade {
        from {
            opacity: .4
        }
        to {
            opacity: 1
        }
    }
    /* core-values */
    .core-value-img {
        width: 100%;
        opacity: 1;
    }
    .core-value-img:hover{
        opacity: 0.5;
    }
    /* marquee */
    .marquee {
        border: 1px solid #262262;
    }
    /* calendar */
    .calendar {
        border: solid 1px #777;
        width: 100%;
    }
    /* footer */
    .footer {
        background-color: #262262;
        color: white;
        text-align: center;
        padding: 5px;
    }
    /* weather */
    .waether>a {
        display: block;
        width: 100%;
        height: 100px;
        border-radius: 10px;
        background-color: #a8dcff;
    }
    /* location */
    .location {
        border: 0;
        width: 95%;
        margin: 8px;
        
    }
    /* anniversary */
    .plant-caption-anni {
        position: absolute;
        justify-content: center;
        align-items: center;
        width: 100%;
        top: 90%;
        text-align: center;
        color: white;
        background-color: #5b5b5f;
        opacity: 0.4;
    }
    /* birthday */
    .plant-caption-birth {
        position: absolute;
        justify-content: center;
        align-items: center;
        width: 100%;
        top: 90%;
        text-align: center;
        color: white;
        background-color: #5b5b5f;
        opacity: 0.4;
    }
    /* new employee */
    .employee-scroll{
        height: 200px;
        overflow-y: scroll;
    }
    /* employee feedback */
    .emp-img{
        display: inline;
        height: 20%;
        width: 20%;
        
    }
    /* img{
        height: 20%;
        width: 20%;
        border-radius: 50px;
    } */
    .emp-div{
        display: inline-block;
        padding-top:5px;
        top: 0;
    }
    /* news */
    .news-img{
        display: inline;
        height: 20%;
        width: 20%;
    }
    .news-desc{
        display: inline-block;
    }
    /* company directory */
    .searchContainer {
        display: inline-flex;
        flex: 1 1 700px;
        position: relative;
        border: 1px solid #ccc;
        border-radius: 5px;
        overflow: hidden;
        width:100%;
      }
      
      .searchIcon {
        padding: 0.5rem;
      }
      
      .searchBox {
        border: 0;
        padding: 0.5rem 0.5rem 0.5rem 0;
        flex: 2;
      }
      
      .searchButton {
        background: #538AC5;
        border: 0;
        color: white;
        padding: 0.5rem;
        border-radius: 0;
      }
      /* document library */
      .links-doc {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin: 2px;
    }
    .div1-doc {
        width: 50%;
       margin: 0 auto;
        text-align: center;
        background-color: #262262;
        color: white;
        padding: 10px;
        border: 0;
        opacity: 1;
        height: 100px;
    }
    .div1-doc>p{
        color: white;
    }
    .div1-doc:hover{
        opacity: 0.5;
    }
    .div2-doc {
        width: 50%;
       margin: 0 auto;
        text-align: center;
        padding: 10px;
    
        background-color: white;
        color: #262262;
        border: 0;
        opacity: 1;
        height: 100px;
    }
    .div2-doc:hover{
        opacity: 0.5;
    }
}
/* ----------------------------------------------------------------------------- */

@media screen and (min-width:768px) {
    .container {
        width: 100%;
        background-color: blue;
    
    }
  /* quick links */
  .ql-font{
    font-size: 12px;
}
.div-design {
    height: 30px;
    background-color: #262262;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    color: white;
    padding: 4px;
    margin: 2px;
}
.quick-links {
    background-color: antiquewhite;
}
p {
    padding-bottom: 5px;
    margin: 0;
    color: #262262;
}
.links {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 2px;
    border: none;
    overflow: hidden;

}

.div1 {
    width: 33%;
    /* height: 50%; */
    text-align: center;
    background-color: #262262;
    color: white;
    border: 0;
    padding: 10px;
    opacity: 1;
    margin: 0 auto;
}
.div1>p{
    color: white;
}
.div1:hover{
    opacity: 0.5;
}
.div2 {
    width: 33%;
    /* height: 50%; */
    text-align: center;
    background-color: white;
    color: #262262;
    border: 0;
    padding: 10px;
    opacity: 1;
    margin: 0 auto;
}
.div2:hover{
    opacity: 0.5;
}
/* carousel */
.carousel {
    background-color: aquamarine;
    margin-bottom: 5px;
    
}
.font-c{
  color: white;
}
.slide {
    display: none;
}
.plant-caption {
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    top: 70%;
    text-align: center;
    color: white;
    background-color: #5b5b5f;
    opacity: 0.4;
}
.carousel-p {
    height: 50%;
}
.plant-carousel {
    position: relative;
    display: flex;
    flex-basis: row wrap;
    align-items: center;
    width: 100%;
    height: 50%;
    min-height: 20em;
    overflow: hidden;
}
.plant-1,
.plant-2,
.plant-3 {
    width: 100%;
    height: 30em;
    background-attachment: fixed;
    background-position: center center;
    object-fit: cover;
}
.prev,
.next {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 50%;
    margin-top: -20px;
    width: 20px;
    height: 20px;
}
.next {
    right: 20px;
    border-bottom: 5px solid #5b5b5f;
    border-right: 5px solid #5b5b5f;
    transform: rotate(-45deg);
    transition: right 0.5s;
}
.prev {
    left: 20px;
    border-bottom: 5px solid #5b5b5f;
    border-left: 5px solid #5b5b5f;
    transform: rotate(45deg);
    transition: left 0.5s;
}
.next:hover {
    right: 1em;
}
.prev:hover {
    left: 1em;
}
/* .dot {
    width: 12px;
    height: 12px;
    background-color: blueviolet;
    border-radius: 50%;
    margin: 0 4px;
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.3s;
}
.dot-container {
    display: flex;
    flex-basis: row wrap;
    position: absolute;
    justify-content: center;
    width: 100%;
    bottom: 1.5em;
} */
.active,
.dot:hover {
    opacity: 1;
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}
/* core-values */
.core-value-img {
    width: 70%;
    text-align: center;
    margin-left:120px;
    
   
}
/* marquee */
.marquee {
    border: 1px solid #262262;
}
/* calendar */
.calendar {
    border: solid 1px #777;
    width: 100%;
    height: 350px;
}
/* footer */
.footer {
    background-color: #262262;
    color: white;
    text-align: center;
    padding: 5px;
}
/* weather */
.waether>a {
    display: block;
    width: 100%;
    height: 400px;
    border-radius: 10px;
    background-color: #a8dcff;
}

/* location */
.location {
    border: 0;
    width: 100%;
}
/* anniversary */
.plant-caption-anni {
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    top: 90%;
    text-align: center;
    color: white;
    background-color: #5b5b5f;
    opacity: 0.4;
}
/* birthday */
.plant-caption-birth {
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    top: 90%;
    text-align: center;
    color: white;
    background-color: #5b5b5f;
    opacity: 0.4;
}
/* new employee */
.employee-scroll{
    height: 200px;
    overflow-y: scroll;
}
/* employee feedback */
.emp-img{
    display: inline-block;
   height: 600px;
   
    
}
.img-cd{
    display:inline-block;
    height: 100px;
}
.desc-cd{
    display: inline-block;
}
/* img{
    height: 20%;
    width: 20%;
    border-radius: 50px;
} */
.emp-div{
    display: inline-grid;
    padding-top:5px;
    top: 0;
}
/* news */
.news-img{
    display: inline-block;
    height: 100px;
  
}
.news-desc{
    display: inline-block;
}

/* company directory */
.searchContainer {
    display: inline-flex;
    flex: 1 1 700px;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    width:100%;
  }
  
  .searchIcon {
    padding: 0.5rem;
  }
  
  .searchBox {
    border: 0;
    padding: 0.5rem 0.5rem 0.5rem 0;
    flex: 2;
  }
  
  .searchButton {
    background: #538AC5;
    border: 0;
    color: white;
    padding: 0.5rem;
    border-radius: 0;
  }
  /* document library */
  .links-doc {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 2px;
}
.div1-doc {
    width: 50%;
   margin: 0 auto;
    text-align: center;
    background-color: #262262;
    color: white;
    padding: 10px;
    border: 0;
    opacity: 1;
    height: 100px;
}
.div1-doc>p{
    color: white;
}
.div1-doc:hover{
    opacity: 0.5;
}
.div2-doc {
    width: 50%;
   margin: 0 auto;
    text-align: center;
    padding: 10px;

    background-color: white;
    color: #262262;
    border: 0;
    opacity: 1;
    height: 100px;
}
.div2-doc:hover{
    opacity: 0.5;
}
}
/* ----------------------------------------------------------------------------- */
@media screen and (min-width:1024px) {
    .container {
        width: 100%;
        background-color: blueviolet;
    }
    body{
        margin: 20px;
    }
    /* header */
    nav {
        text-align: center;
    }
    .header-img {   
        width: 15%;
    }
    
/* first row */
    .first-row{
    display:flex;
    flex-wrap: wrap;
    height: 40%;
   
    
}
.quick-links{
    width: 30%;
    height: 40%;
}
.carousel{
    width: 40%;
    height: 250px;
   
}
.core-values{
    width: 30%;
    height: 40%;
}
/* second row */
.second-row{
    display: flex;
   
    height: 40%;
    
}
.document-library{
    width: 30%;
    height: 40%;
}
.calendar-div{
    width: 40%;
    height: 40%;
}
.waether{
    width: 30%;
    height: 40%;
}
.waether-img{
    width: 100%;
    height: 300px;
}



/* third row */
.third-row{
    display: flex;
    flex-wrap: wrap;
    height: 40%;
}

.company-directory{
    width: 30%;
   
}
.img-cd{
    overflow: hidden;
}
.news{
    width: 40%;
    height: 260px;
}
.news-img{
    overflow: hidden;
}
.location-div{
    width: 30%;
}
/* fourth row */
.fourth-row{
    display: flex;
    flex-wrap: wrap;
    height: 40%;
}
.anniversary{
    width: 25%;
    height: 350px;
}
.employee-feedback{
    width: 25%;
    
}

.new-employee{
    width: 25%;
    height: 350px;
}
/* end */
}

@media screen and (min-width:1440px) {
    .container {
        width: 100%;
        background-color: brown;
    }
}
